@model IEnumerable<CMSite.Models.客戶聯絡人>

@{
    ViewBag.Title = "Index";
    var JobTitleList = (IQueryable<string>)ViewBag.JobTitleList;
}

<h2>客戶聯絡人管理-Index</h2>
<form method="get">
    <div class="form-inline">
        <input type="search" name="keyword" placeholder="請輸入 [姓名] 關鍵字" class="form-control" />
        <input type="submit" value="搜尋" class="btn btn-primary" />
    </div>
</form>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("職稱", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "職稱", descYn = ViewBag.DescYn })
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        @Html.ActionLink("取消篩選", "Index", new { keyword = "", jobtitle = "", orderby = ViewBag.OrderBy, desc = ViewBag.DescYn })
                    </li>
                    @foreach (string item in JobTitleList)
                    {
                        <li>
                            @Html.ActionLink(item, "Index", new { keyword = ViewBag.Keyword, jobtitle = item, orderby = ViewBag.OrderBy, descYn = ViewBag.DescYn })
                        </li>
                    }
                </ul>
            </div>
        </th>
        <th>
            @Html.ActionLink("姓名", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "姓名", descYn = ViewBag.DescYn })
        </th>
        <th>
            @Html.ActionLink("Email", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "Email", descYn = ViewBag.DescYn })
        </th>
        <th>
            @Html.ActionLink("手機", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "手機", descYn = ViewBag.DescYn })
        </th>
        <th>
            @Html.ActionLink("電話", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "電話", descYn = ViewBag.DescYn })
        </th>
        <th>
            @Html.ActionLink("客戶名稱", "Index", new { keyword = ViewBag.Keyword, jobtitle = ViewBag.JobTitle, sort = true, orderby = "客戶名稱", descYn = ViewBag.DescYn })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.手機)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.客戶資料.客戶名稱)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
