@model IEnumerable<CMSite.Models.CustomerStatisticViewModel>

@{
    ViewBag.Title = "Statistics";
}

<h2>Statistics</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactCount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankCount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustomerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactCount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankCount)
        </td>
    </tr>
}

</table>
